<br />
<div class="booyah-box col-10 offset-1">
	<h1>Careers</h1>
	I am currently open to full-time developer opportunities. Feel free to <%= link_to 'http://github.com/amyhenning' do %>
			check out my work
		<% end %>
		or
		<%= mail_to 'henning.amy@gmail.com' do %>
		get in touch
		<% end %>
		to discuss!
</div>
