<div class="hero">
	<br /><br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn Lots of Random Things Online</h1>
		<br />
		<h2>From yoga to photography to Spanish</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>
