<br />

	<h1 class="text-center">Learn something today!</h1>
	<br />
	<% @courses.each do |course| %>
	<div class="booyah-box col-10 offset-1">
		<h2 class="text-center">
			<%= link_to course.title, course_path(course) %></h2>
			<br />
			<%= image_tag course.image, class: 'img-fluid center' %>
			<br /><br />
		<div class="row">
			<div class="col-sm-9 col-12">
				<%= course.description %>
			</div>
			<div class="col-sm-3 col-12 text-right">
				<%= link_to 'More Details', course_path(course), class: 'btn btn-primary btn-large' %>
			</div>
		</div>
	</div>
	<br class="clear" />
	<% end %>
</div>