@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Antic|Assistant:200,300,400|Roboto');

body {
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	background: image_url('bg.png');
}

a {
	color: #dd0675;
}

a:hover {
	color: #b70360;
	text-decoration: none;
}

.clear {
	clear: both;
}

.navbar {
	font-family: 'Assistant', sans-serif;
	box-shadow: 0px 1px 3px #2a2a2a;
	background: image_url('dark_wall.png');
}

.navbar-inverse a.navbar-brand {
	font-family: 'Antic', sans-serif;
	font-size: 30px;
	color: #fff;
}

.navbar-inverse .navbar-brand:hover {
	color: #fff;
}

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
  flex-flow: row wrap;
}

.hero {
	background: image_url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 3px 8px #2a2a2a;
  width: 100%;
  height: 100%;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.frosty {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: 'Assistant', sans-serif;
	margin-top: 7%;
	margin-bottom: 7%;
	border-radius: 0.25rem;
}

.frosty h1 {
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	text-shadow: 1px 0px 8px rgba(150, 150, 150, 0.75);
}

.frosty h2 {
	font-family: 'Assistant', sans-serif;
	font-weight: 300;
	text-shadow: 1px 0px 8px rgba(150, 150, 150, 0.75);
}

.btn-success {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #000;
  background-color: #ddd;
  border-color: #ddd;
}

.btn-primary {
	color: #000;
	background-color: #fff;
	border-color: #ddd;
	font-family: 'Assistant', sans-serif;	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #000;
  background-color: #ddd;
  border-color: #ddd;
}

.btn-danger {
	color: #fff;
	background-color: #dd0675;
	border-color: #ddd;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #b70360;
  border-color: #ddd;
}

.feature {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.feature h3 {
	font-family: 'Assistant', sans-serif;
	font-weight: 200px;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 0.25rem;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
	margin: 10px;
}

.align-middle {
  align-items: center;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

hr {
	color: #ddd;
	width: 75%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mt-2 {
  margin-top: 4 !important;
}

.lesson {
	background-color: rgba(36, 32, 33, 0.9);
	border-radius: 0.25rem;
	padding: 4%;
}

.lesson a {
	color: #fff;
	font-family: 'Assistant', sans-serif;
	font-weight: 200;
	font-size: 15px;
	margin:0;
}

.lesson a h4 {
	font-weight: 400;
	margin: 0;
}

.section {
	padding: 20px;
	margin-top: 10px;
}

.badge-info {
	background-color: #0bc4b1;
}

ul {
	list-style-type: none;
}

.section-li {
	border: 1px solid;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 0.25rem;
  padding: 2%;
  margin: 3%;
}

ul .header {
	font-size: 25px;
}

ul .header .fa {
	font-size: 20px;
}

.lessons li {
	background: #494949;
	color: white;
	margin-top: 2%;
	padding: 1%;
	border-radius: 0.25rem;
	font-size: 15px;
}

.lessons li b {
	font-size: 25px;
	font-weight: 200;
}

.lessons li p {
	margin: 0;
}